<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40012093-27"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-40012093-27');
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta name="description"
  content="The Data Assembly is an initiative from The GovLab with support from the Henry Luce Foundation to solicit diverse, actionable public input on data re-use for crisis response in the United States." />
<meta property="og:type" content="website" />
<meta property="og:title" content="Solving Public Problems" />
<meta property="og:description"
  content="The Data Assembly is an initiative from The GovLab with support from the Henry Luce Foundation to solicit diverse, actionable public input on data re-use for crisis response in the United States." />
<meta property="og:image" content="img/data-assembly-logo-color.png" /> -->
  <title>Solving Public Problems</title>

  <link href="images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/f713a12e61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>
  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->


  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div class="menu-bars">
      <div class="bar-wrap">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <a class="top_logo" href="index.html"><img src="img/the-govlab-logo-white.svg" alt="The GovLab"></a>

    <!-- Navigation links (hidden by default) -->

    <div class='lang-select'>
      <!-- <a target="_blank" href="https://twitter.com/search?q=YourEducationYourVoice&src=typed_query"><i
        class="e-social-media-item fa fa-twitter" aria-hidden="true"></i><b>#YourEducationYourVoice</b></a> -->
    </div>
  </div>
  <div id="myLinks">
    <div class="menu-items">
      <div class="menu-sub" onclick="dismiss_menu()"><a href="index.html">Home</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="">Take the Course</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="book.html">Read the Book</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="research.html">See the Research</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="http://govlabacademy.org">Other Courses</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="https://www.thegovlab.org/about.html">About the GovLab</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="http://thegovlab.org/beth-simone-noveck.html">About Beth Simone Noveck</a>
      </div>
    </div>
  </div>
  <div id="home-page" onclick="dismiss_menu()">
    <div id="intro" class="resource-hero resource-page">
      <h1>Resources</h1>
      <div class="resource-text">
        <p>This Resources page contains additional materials, including optional readings and videos, as well as exercises and worksheets organized by course topic. Frequently updated with new items, these are above and beyond what you'll find in the course. To suggest a reading, video or exercise, please email us at info@thegovlab.org</p>
      </div>
         <div class="hero-button book">
        <a href="index.html" class="button">TAKE THE COURSE</a>
        <a :href="booksData[0].book_link" class="button">BUY THE BOOK</a>
      </div>
    </div>


    <div class="resource-section">
      <div class="resource-container" v-for="resource in resourceData">
        <div class="resource-title">
          <h3>{{resource.module_name}}</h3>
          <p>{{resource.short_description}}</p>
        </div>
        <div class="resource-body">
          <div class="resource-type">
            <p>READ</p>
          </div>
          <div class="resource-readings" v-for="reading in resource.readings">
            <a :href="reading.reading_id.url"><i class="fas fa-circle"></i>&nbsp&nbsp<span id="underline">{{reading.reading_id.title}}</span><span v-if="reading.reading_id.content">,&nbsp{{reading.reading_id.content}}</span></a>
          </div>
          <div class="resource-type">
            <p>watch</p>
          </div>
          <div class="resource-videos" v-for="video in resource.videos">
           <a :href="video.videos_id.url"> <i class="fas fa-circle"></i>&nbsp&nbsp<span id="underline">{{video.videos_id.title}}</span><span v-if="video.videos_id.content">,&nbsp{{video.videos_id.content}}</span></a>
          </div>
          <div class="resource-type">
            <p>do</p>
          </div>
          
          <div class="resource-worksheets" v-for="worksheet_item in resource.worksheet">
            
          <a :href="worksheet_item.worksheet_id.url"><i class="fas fa-circle"></i>&nbsp&nbsp<span id="underline">{{worksheet_item.worksheet_id.title}}</span><span v-if="worksheet_item.worksheet_id.content">,&nbsp{{worksheet_item.worksheet_id.content}}</span></a>
          </div>
        </div>
      </div>
    </div>



  </div>
</body>
<footer>

</footer>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function dismiss_menu() {
    var x = document.getElementById("myLinks");
    x.style.display = "none";
  }
</script>
<script>
  function confirm() {
    var x = document.getElementById("thankyou");

    x.style.display = "block";

  }
</script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="js/spp.js"></script>

</html>