:root {
  --purple: #523080;
  --theme-yellow: #DEC15E;
  --theme-grey: #595959;
  --dark-blue: #1C2937;
  --light-blue:#DEECF6;
  --white: #ffffff;
  --black: #000000;
  --book-white: #FEF7F3;
  --book-blue: #67A7D3;
  --book-blue-light: #67a8d331;
  --book-blue-medium: #67a8d385;
  --book-blue-dark: #222F3F;
  --white10: #f0f0f0;
  --grey9: rgba(0, 0, 0, 0.9);
  --grey8: rgba(0, 0, 0, 0.8);
  --grey7: rgba(0, 0, 0, 0.7);
  --grey6: rgba(0, 0, 0, 0.6);
  --grey5: rgba(0, 0, 0, 0.5);
  --grey3: rgba(0, 0, 0, 0.3);
  --grey2: rgba(0, 0, 0, 0.2);
  --grey1: rgba(0, 0, 0, 0.1);
  --grey05: rgba(0, 0, 0, 0.05);
  --grey03: rgba(0, 0, 0, 0.03);
  --light-grey: #3d3d3d;
  font-size: 16px;

}
body {
  font-family: 'Open Sans', sans-serif;
}
section
{
  width:100%;
}

div#layout {
  text-align: center;
}

div#container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: #2F4A6D;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #fff;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}


html,body
{
    width: 100%;
    height: 100%;
    font-family: 'proxima-nova', sans-serif;
    margin:0;
    overflow-x: hidden;

}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: var(--black);
  height: 8vh;
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}
.fa.fa-bars{
  color: var(--dark-grey);
  font-size: 1.5rem;
}
.fa.fa-bars:hover{
  color: var(--green);
  transition: 0.3s ease-in-out;
  font-size: 1.5rem;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a img{
  width: 140px;
}

.menu-bars{
  width: 20%;
display:flex;
align-items: center;
}
.bar-wrap{
  /* background-color: rgba(255,255,255,0.05); */
  width: 50px;
}
.bar-wrap:hover {
   background-color: rgba(255, 255, 255, 0.137);
}

.menu-items{
  display:none;
}
/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  left: 0;
  top: 0;
}

.top_logo {

width:60%;
display: flex;
align-items: center;
justify-content: center;
}

.lang-select{
  width:20%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right:20px;
  font-weight: 300;
}
.top_logo img#undp-logo-style{
  margin: 5px 25px;
  height:80px; 
  width:auto; 
}
.lang-select a{
  color: var(--dark-grey);
  text-decoration: none;
}
.lang-select a.active{
  color: var(--accent-color);
  font-weight:600;
}
.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.panel {
  display: flex;
  flex-direction: column;
  order: 2;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0rem 4rem;
  font-weight: 300;
}
.panel li strong{
color: var(--book-blue);
text-transform: uppercase;
}
.accordion{
  background-color: var(--grey05);
  cursor: pointer;
  width:100%;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  outline: none;
  transition: 0.4s;
  order: 3;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 1rem 0;
}
.acc-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.acc-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
img.module-icon{
  height:40px;
  padding: 10px;
  }
.accordion:hover{
  background-color: var(--grey5);
}
.accordion:hover h2{
  color: var(--white);
}
.accordion:hover h2 #module-number{
  color: var(--book-white);
}
.accordion h2{
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--dark-grey);
}
.accordion h2 #module-number{
  font-size: 1rem;
  font-weight: 600;
color: var(--book-blue);
text-transform: uppercase;
}
.syllabus-section{
  padding: 2rem 6rem;
}
.active{
  font-size: 1rem;
}

.accordion .material-icons:before {
  font-weight: 200;
  content: 'keyboard_arrow_down';
  position: relative;

}
.active .material-icons:before { 
  font-weight: 200;
  content: 'keyboard_arrow_up';
}
.tweet-close{
  position:absolute;
  z-index:100;
  margin:0;
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  background-color: #ffffff;
  width:100%;
  padding:10px 0;
  font-size: 0.9rem;
  border-radius: 0px 20px;
}
#twitter-feed{
  position:absolute; 
  bottom:0;
  z-index:100;
  text-align: center;
  display: flex;
  justify-content: center;
}
a.tweet-close:hover{
color: red;
transition: all .6s ease;
}
@media screen and (min-width: 769px) and (max-width: 1100px){
.top_logo img#undp-logo-style{
  margin: 5px 25px;
  height:70px; 
  width:auto; 
}
.syllabus-section{
  padding: 2rem 2rem;
}
}
@media screen and (min-width: 320px) and (max-width: 768px){
  #twitter-feed{
    display:none;
  }
  .top_logo {
    padding: 0 !important;
    width:40%;
    }
    .syllabus-section{
      padding: 2rem 0rem;
    }
    .top_logo img{
      width:20%;
      }
    .lang-select{
      width: 50%;
      justify-content: center;
      margin-right:0;
    }
    .lang-select a{
      font-size: 0.8rem;
    }
    .top_logo img#undp-logo-style{
      margin: 5px 10px;
      height:50px; 
      width:auto; 
    }
    .lang-select img{
      display:none;
    }
    .menu-bars
      {
        width:10%;
      }
}


#myLinks{
  display:none;
  width: 300px;
  height: 100vh;
  z-index:100;
  text-align: right;
  position: absolute;
  top:0;
}

.menu-items{
  display:flex;
  flex-direction: column;
  height:100%;
}
.menu-items a{
  padding:20px;
  text-decoration: none;
  font-size:16px;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  width:100%;
}
.menu-sub{
  width:100%;
  height:100%;
  background-color: #1f1f1f;
  display:flex;
  justify-content: center;
  align-items: center;
border-bottom: 1px solid rgba(255,255,255,0.1);
}
.menu-sub:hover {
  width:100%;
  height:100%;
  background-color: #161616;
  display:flex;
  justify-content: center;
  align-items: center;
border-bottom: 1px solid rgba(255,255,255,0.1);
}
.menu-sub:hover a{
color: #ffffff;
}
.hero{
  padding: 0rem 20rem;
  height: 70vh;
  background-color: var(--book-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-hero{

  height: 50vh;
  background-color: #F6F6F6;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resource-hero{
  height: 30vh;
  background-color: var(--book-white);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.resource-hero .hero-button.book{
  margin:0;
}
.resource-hero.research{
  background-color: var(--book-blue-dark);
  color: #ffffff;
height:40vh;
padding: 2rem 12rem;
}
.resource-hero.resource-page{
height:50vh;
}

.resource-hero h1{
  text-transform: uppercase;
  font-weight: 200;
}
.resource-section{
  display:flex;
  flex-direction: column;
  padding: 0rem 12rem;
}
.resource-container{
  display:flex;
  flex-direction: column;
  border-bottom: 2px solid var(--grey1);
  margin: 1rem 0 0 0;
}
.resource-container .material-icons{
  color: var(--book-blue);
  margin: 0.5rem 0.5rem 0 0.5rem;
  font-size: 1.1rem;
}
.resource-title{
  color: var(--grey8);
  padding: 1rem 2rem 0rem 2rem;
}
.resource-title h3{
  color: var(--book-blue);
  font-weight: 300;
  font-size: 1.5rem;
  padding:0;
  margin:0;
}
.resource-title p{
  margin:0;
  font-weight: 300;
}
.resource-body{
  padding: 1rem 3rem;
  font-weight: 300;
}
.resource-readings{ 
  color: var(--grey8);
 display: flex;
 align-items: center;
 flex-direction: row;
}

.resource-body a{
  text-decoration: none;
  color: var(--grey8);
  margin: 0 0 0.5rem 0;
  text-decoration: none;
  line-height: 1.8;
}
.resource-type p{
  margin:1rem 0 0 0;
  font-weight: 800;
  font-size: 1rem;
  color: var(--book-blue);
  text-transform: uppercase;
}
.resource-body a span#underline{
  font-weight: 500;
  border-bottom: 1px dotted var(--black);
  color: var(--grey8);

}
.fa-circle{
  font-size: 0.5rem;
  color:var(--grey3);
}
.resource-body a:hover span#underline{ 
  text-decoration: none;
  border-bottom: 1px dotted var(--book-blue);
  color: var(--book-blue);
  transition: all .6s ease;
}
.resource-videos{ 
  color: var(--grey8);
  display: flex;
  align-items: center;
  flex-direction: row;
 }
 .resource-worksheets{ 
  color: var(--grey8);
  display: flex;
  align-items: center;
  flex-direction: row;
 }
#blue{
 color: var(--book-blue);
 font-weight: 900;
}
#black{
  font-weight: 700;
  font-stretch: extra-condensed;
}
.hero h4{
text-align:center;
  font-weight: 400;
  margin-bottom:60px;
  font-size: 1.2rem;
}
.hero h1{
  margin-top: 20px;
  text-align:center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.4rem;
}
.hero img{
  height: 150px;
}
.hero a{
  color: var(--theme-yellow);
  font-weight: 600;
  text-decoration: none;
}
.button{
  background-color: var(--book-blue);
  padding: 0.5rem 1rem;
}
.hero-button{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -30px;
}
.hero-button.book {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;

}
.hero-button .button{
  color: var(--book-blue);
  background-color: #efefef;
  padding: 1rem 2rem;
  border-radius: 10px;
}
.hero-button.book .button{
  color: #efefef;
  background-color: var(--book-blue);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.hero-button a.button {
font-weight: 600;
margin:0 10px;
text-align: center;
}
.hero-button a.button:hover{
  color: var(--book-white);
  background-color: var(--book-blue);
  transition: all 0.6s ease-in-out;
}
a.button{
  color: #ffffff;
  text-decoration: none;
}
a.button:hover{
  color: var(--book-white);
  background-color: var(--book-blue);
  transition: all 0.6s ease-in-out;
}
.about-book{
  padding: 0 12rem 2rem 12rem;
}
.blurbs{
  padding: 0 12rem 2rem 12rem;
}
.blurb-item{
  background-color: var(--book-white);
  padding: 1.5rem;
  margin: 1rem 0;
}
.blurb-item p.content{
  font-size: 1.1rem;
}
.blurb-item p.attribution{
  font-weight: 600;
}
a.review-link{
  background-color: var(--book-blue-dark);
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.about-book p{

  font-weight: 400;
  line-height: 1.5;
  color: var(--theme-grey);
}
.about-sheet{
  padding: 2rem 12rem;
}
.about-sheet p{

  font-weight: 400;
  line-height: 1.5;
  color: var(--theme-grey);
}

.about-sheet ol{
  display:flex;
  flex-direction: column;
}
.old-books{
  display: flex;
  flex-direction: row ;
  max-width: none;
margin-left: auto;
margin-right: auto;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
padding: 2rem 12rem 0 12rem;
justify-content: space-between;
}
.book-item{
  -webkit-flex: 0 0 30%;
-ms-flex: 0 0 30%;
flex: 0 0 30%;
max-width: 30%;
border: 10px solid white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.book-item img{
  height: 300px;
}
a.book-item{
  text-decoration: none;
  color: var(--black);
}
.divider{
  height: 12vh;
  background-color: var(--book-white);
  padding: 0 12rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.divider.change{
  height: 20vh;
}
.divider h1{
  text-transform: uppercase;
  color: var(--black);
  font-weight: 200;
  margin:0;
}
 .site-row {
  display: flex;
  flex-direction: row;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  @media (max-width: 800px) {
 .site-row {
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      flex-direction: column; } }
 .site-column {
  -webkit-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0; }
  @media (max-width: 800px) {
 .site-column {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
 .site-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px; 
  background-color: var(--grey03);
  text-decoration: none;
  text-align: center;
}
.site-item:hover{
  background-color: var(--grey1);
  transition: all .6s ease-in-out; 
  transform: scale(1.1);
}
.site-tag p{
  margin-bottom:10px;
  margin-top:0;
  font-size:0.9rem;
}
  .site-column .thumb {
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

  .site-column .name {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .site-column p.name {
  color: #333;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11pt; }
  .site-description{
    color: var(--light-grey);
    font-weight: 400;
    width: 100%;

  }
  .site-description p{
    margin: 0;
    padding: 0 1rem 2rem 1rem;
  }
  .take_survey{
    padding-bottom: 1rem;
  }
.pub-thumb{
  height: 200px;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom:1rem;
}
  .publications {
    display: flex;
    flex-direction: row;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    align-items: flex-start;
  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    @media (max-width: 800px) {
   .publications {
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        flex-direction: column; } }
   .publication-item {
    -webkit-flex: 0 0 25%;
    background-color: var(--grey05);
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    height:200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0; 

  }
  .pub-title{
    padding:0 2rem;
    text-align: center;
  }
    @media (max-width: 800px) {
   .publication-item {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; } }

  .finding-item {
          -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1rem 0; 
      
        }

.result-item{
  padding: 2rem 10rem;
}
.result-item.about{
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2;
  text-align: center;
}
.result-item.findings{
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2;
  text-align: left;
}
.result-item.findings strong{
  color:var(--book-blue-dark);
}
.result-item.skills{
  padding: 2rem 8rem;
}
.divider.skills{
  background-color: var(--book-blue-dark);
}
.divider.skills h1{
  color:#ffffff;
}
.result-item.skills table tbody td{
  padding: 1rem;
  }
  .result-item.skills table tbody td:nth-of-type(odd){
    font-weight: 600;
    }
    .result-item.skills table tbody td:nth-of-type(even){
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.6;
      }
.result-item.skills table tbody tr:nth-of-type(odd){
  background-color: var(--book-blue-light);
  color: var(--book-blue-dark);
  }
  .addl-resource{
    background-color: var(--book-white); 
    width:100%;
    padding: 2rem 2rem 3rem 2rem;
    margin-top:1rem
  }
  .addl-resource.practice{
    background-color: var(--book-blue-dark);
    color: #ffffff;
  }
  .addl-resource.practice h4{ 
    color: var(--book-blue) !important;
    font-weight: 800 !important;
  }
  .addl-resource a{
    color: var(--book-blue-dark);
  }
  p.topic-name{
    font-weight: 800;
    font-size: 0.8rem;
    margin:0;
    text-transform: uppercase;
    color:var(--book-blue);
  }
  p.source-cite{
    font-weight: 400;
    font-size: 0.8rem;
    margin:0;
    font-style: italic;
  }
  .resource-text{
    padding: 0 12rem;
  }
  .resource-page h1{
    margin:0;
  }
  .resource-page p{
    padding: 1rem 0;
    margin:0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
  }
  .excerpt{
    padding: 1rem 20rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .excerpt.research{
    height:400px;

  }
  .excerpt.research .take_survey{
    padding: 1rem 12rem;
  }
  .excerpt-pdf{
    position: absolute;
    z-index: 100;
  }
  .blog-page{
    padding: 2rem 6rem;
  }
  .posts{
    background-color: var(--book-blue-light);
    padding: 2rem 4rem;
    margin-bottom: 2rem;
  }
  .read-more a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: var(--book-blue-dark);
    color: #ffffff;
    font-size: 0.8rem;
  }
  .posts .title{
    color: var(--book-blue-dark);
    font-weight: 600;
    font-size: 1.2rem;
  }
  .posts .description{
    color: var(--book-blue-dark);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
  }
@media screen and (min-width: 769px) and (max-width: 1100px){

  .book-item{
    -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  }
  .resource-section{
    display:flex;
    flex-direction: column;
    padding: 0rem 6rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .blog-page{
    padding: 2rem 1rem;
  }
  .finding-item {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width:100%;
  }
  .excerpt{
    padding: 1rem 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .resource-text{
    padding: 1rem;
  }
  .resource-hero.resource-page{
    height: 50vh;
  }
    .result-item.skills table tbody  td, th {
      display: block;
  }
  .result-item.skills table tbody  td:nth-of-type(even) {
    padding-top:0;
}
 
  .result-item.skills table tbody td[data-th]:before  {
      content: attr(data-th);
  }
  .result-item{
    padding: 2rem 1rem;
  }
  .result-item.skills{
    padding: 2rem 1rem;
  }
  .resource-section{
    display:flex;
    flex-direction: column;
    padding: 0rem 1rem;
  }
  .book-hero{

    height: 50vh;
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divider{
    height: 12vh;
    background-color: var(--book-white);
    padding: 0 1rem;
  }
  .hero-button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
  }
  .hero-button.book {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
  
  }
  .about-book{
    padding: 0 1rem 2rem 1rem;
  }
  .blurbs{
    padding: 0 1rem 2rem 1rem;
  }
  .hero-button.book .button{
    color: #efefef;
    background-color: var(--book-blue);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top:10px;
  }
  .hero-button a.button {
  font-weight: 600;
  margin:10px 10px;
  text-align: center;
  }
  .old-books{
    display: flex;
    flex-direction: column ;
    max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 2rem 1rem 0 1rem;
  }
  .book-item{
    -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }
}

.signup{
  background-color: var(--book-white);
  display: flex;
  height:45vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#000000;
}
.signup p{
font-weight: 400;
color:#000000;
  
}


input[type=text]{
  padding: 10px 10px;
  font-size: 0.8rem;
  display: inline-block;
  border: none;
  color:#000000;
  background-color: #efefef;
  border-radius: 0px;
  box-sizing: border-box;
  width: 100%;
}
 input[type=text]#email{
  padding: 10px 10px;
  font-size: 0.8rem;
  display: inline-block;
  border: none;
  color:#000000;
  background-color: #efefef86;
  border-radius: 0px;
  box-sizing: border-box;
}

.question-item textarea{
  width:100%;
  height: 100px;
}
.question-item.submit-item{
  margin-top: 1rem;

}
.grid.form .question-item h4{
  font-weight: 600;
}
textarea{
  padding: 10px 10px;
  font-size: 0.8rem;
  display: inline-block;
  border: none;
  color:#000000;
  background-color: #efefef;
  border-radius: 0px;
  box-sizing: border-box;
  margin-bottom:10px;
  text-align: left;
  
}
::placeholder {
  color: var(--book-blue-medium);
  font-weight: 600;
  text-transform: uppercase;
}
#thankyou{
  display:none;
}
.grid.form{
  padding: 0rem 16rem 2rem 16rem;
}
.grid.form h4{
  font-weight: 400;
  color: var(--grey8);
}
.grid{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: left;
}
.custom-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:50%;
}
.large-text{
  width: 100%;
}
.large-text input[type=text]{
  padding: 10px 100px;
  margin:20px 0;
  width: 100%;
}
.large-text input[type=textarea]{
  padding: 10px 100px;
  margin:20px 0;
}
button{
background-color: var(--book-white);
  border: 2px solid #000000;
  color: rgb(33, 37, 41);
  padding: 10px 25px;
  text-align: center;
  font-size:0.8rem;
  cursor: pointer;
  font-weight: 600;
}
button.worksheet-button {
  border: 0px solid #000000;
  background-color: var(--book-blue);
  color: #ffffff;
  width: 50%;
  margin-top:0rem;
}
a.download-button{
  border: 0px solid #000000;
  background-color: var(--book-white);
  color: var(--black);
  width: 50%;
  padding: 10px 0px;
  text-align: center;
  font-size:0.8rem;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
margin-top: 1rem;
}
input#email{

  width:50%;
  text-align: center;
  text-transform: none;
}
.signup h2{
  margin-top:10px;
  margin-bottom:0;
  color:var(--book-blue);
}
.changemakers{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 12rem;
}
.changemakers h3{
  margin:0;
}
.changemakers p{
  margin:0;
}
.question-block{
  display: flex;
  flex-direction: row ;
  max-width: none;
margin-left: 0;
margin-right: 0;
display: -webkit-flex;
display: -ms-flexbox;
width:100%;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
}
.question-item{
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  /* margin: 2%; */
}
.team{
  display: flex;
  flex-direction: row ;
  max-width: none;
margin-left: auto;
margin-right: auto;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
  margin: 1rem 8rem;
  padding: 1rem 0;

}
.team-image{
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  height: 320px;
  text-align: center;
  margin-top: 2rem;
}  

.team-image .square img{
  height: 100%;

}
.team-image h4{
    font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom:0;
  font-weight: 300;
}
.team-image h5{
  color: var(--secondary-color);
  margin: 0.5rem 0 2rem 0;
  font-size: 1rem;
  font-weight: 200;
 
}
.team-image .square{
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px auto 0;
  height: 140px;
  width: 140px;
  overflow: hidden;
  border-radius: 50%;
  border: 0px solid var(--book-blue);
}
.team a{
color: var(--theme-blue);
font-size: 16px;
text-decoration: none;
}
#bio{
  padding: 0.5rem 1rem;
  border: 1px solid var(--book-blue);

}
.team a:hover{
  color: #523080;
  
}
.team a:hover #bio{
  border: 1px solid #523080;
  transition: all .6s ease;
}  
.col{
  width: 50%;
  padding: 1.5rem;
}
.col p{
  font-weight: 300;
  line-height: 1.8;
  font-size: 1.4rem;
  margin:0;
}
.format-section{
  padding: 4rem 12rem;
  text-align: center;
}
/* .card {
  -webkit-box-shadow: 1px 12px 18px 0px rgba(0, 0, 0, 0.623);
  -moz-box-shadow: 1px 12px 18px 0px rgba(0, 0, 0, 0.623);
  box-shadow: 1px 12px 18px 0px rgba(0, 0, 0, 0.623);
  padding: 2rem 0;
} */
.card h3{
  margin:0;
}
.card a{
  color: #333333;
  text-decoration: underline;
  text-decoration-color: var(--purple);
}
.format-pieces{
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.format-item{
  padding: 0 2rem;
  width: 25%;
}
.topics h3{
  padding: 1rem 0;
  text-align: center;
}

.topic-bg{


  padding: 2rem;
}
.topic-pieces{
  display: flex;
  flex-direction: row ;
  max-width: none;
margin-left: auto;
margin-right: auto;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
padding: 0 2rem;
justify-content: space-between;
}
.topic-item{
  -webkit-flex: 0 0 20%;
-ms-flex: 0 0 20%;
flex: 0 0 20%;
max-width: 20%;
border: 10px solid white;
display: flex;
background-color: var(--book-white);
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 10%;
}
@media screen and (min-width: 769px) and (max-width: 1100px){

  .topic-item{
    -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .grid.form{
    padding: 0rem 1rem 2rem 1rem;
  }
  .about-sheet{
    padding: 2rem 1rem;
  }
  .topic-pieces{
    display: flex;
    flex-direction: column ;
    max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  }
  .topic-item{
    -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }
}
.topic-item.empty-mobile{
  background-color: var(--white);
}


.topic-item p{
  font-weight: 600;
}
.format-pieces{
  display: flex;
  flex-direction: row ;
  max-width: none;
margin-left: auto;
margin-right: auto;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
padding: 0 2rem;
justify-content: space-between;
}
.format-item{
  -webkit-flex: 0 0 20%;
-ms-flex: 0 0 20%;
flex: 0 0 20%;
max-width: 20%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

}
@media screen and (min-width: 769px) and (max-width: 1100px){

  .format-item{
    -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .format-pieces{
    display: flex;
    flex-direction: column ;
    max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  }
  .format-item{
    -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }
}
.icon img{
  height: 80px;
}
.objectives{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 12rem;
  /* background-color: var(--book-white); */
}
.objectives.govlab .row p{
line-height: 2;
font-size: 1.4;
}
.objectives.govlab{
  background-color: #ffffff;
}
.team.last{
  padding-bottom: 4rem;
}
h3{
  font-size: 1.8rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.objectives li{
  font-weight: 300;
  line-height: 1.8;
  font-size: 1.2rem;
  margin:0;
}

ol.continue-number{
  counter-reset: myOrderedListItemsCounter 4;
}
ol {
  counter-reset:myOrderedListItemsCounter; 
  margin:0; 
  padding-left:0; 
}
ol>li {
  counter-increment:item; 
  list-style: outside none;
  padding-bottom: 1rem;
  float: left;
  margin-right:5px;
}
ol li:before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter);

}
ol>li.bg-color:before{
  margin-right: 10px;
  background-color: var(--book-blue);
  color: #ffffff;
  display:block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  margin-bottom:30px;
  text-align: center; 
  float: left;

}
.vid-desc{
  margin-top:0;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
}
.vid-desc.module{
  margin-top:0;
  height: 200px;
}

.video{
  width:80%;

}
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.format-pieces.teaser{
  justify-content: center;
  padding-top:0rem;
  padding-bottom:1rem;
}

.text.teaser{
  width: 200px;
}
.about-section{
  display:flex;
  flex-direction: row;
  padding: 2rem;
}
.about-text{
  display:flex;
  flex-direction: column;
  width: 50%;
}
.about-text p
{
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 300;
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .hero{
    padding: 2rem 2rem;
}
.about-section{
  display:flex;
  flex-direction: column;
  
}
.vid-desc{
  width:100%;
}
.about-text{
  display:flex;
  flex-direction: column;
  padding: 1rem 1rem;
  width:100%;
}
.col{
  width: 80%;
  padding: 1.5rem;
}
.row{
  display:flex;
  flex-direction: column;
}
.video{
  width: 100%;
}
.vid-desc{
  padding: 0;
  height: auto;
}
.signup{
  text-align: center;
}
.format-section{
  padding: 1rem 1rem;
  text-align: center;
}
.format-pieces{
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.format-item{
  width:100%;
  padding:0;
}
.objectives{
  display:flex;
  flex-direction: column;
  padding: 3rem 1rem;
}
.changemakers{
  padding: 2rem 1rem;
}
.team{
  flex-direction: column;
  padding: 0rem 0;
}
.team-image{
  width: 100%;
  height: 300px;
  -webkit-flex: 0 0  100%;
  -ms-flex: 0 0  100%;
  flex: 0 0  100%;
  max-width:  100%;
}

}

.research-hero{
  height: 30vh;
  background-color: var(--dark-blue);
  color: #ffffff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 12rem;
}
.research-hero h1{
  text-transform: uppercase;
  font-weight: 200;
  margin:0;
}
.research-hero p{

  font-weight: 300;
  
}
.button.inverted-color{
  background-color: var(--book-blue);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0;
  text-transform: uppercase;
}

.research-text-section{
  padding: 2rem 12rem;
}
.research-text-section h2{
  text-transform: uppercase;
  color: var(--dark-blue);
  font-size: 1.2rem;
}
.research-text-section p{
  color: var(--dark-blue);
  font-size: 1rem;
  line-height: 1.5;
}
.research-survey-section{
  background-color: var(--dark-blue);
  padding: 2rem 12rem;
}
.survey-card-row{
  display: flex;
  flex-direction: row ;
  max-width: none;
margin-left: auto;
margin-right: auto;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
justify-content: space-between;
align-items: flex-start;
}
.survey-card-col{
  -webkit-flex: 0 0 30%;
-ms-flex: 0 0 30%;
flex: 0 0 30%;
max-width: 30%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.survey-card{
  display: flex;
flex-direction: column;
  background-color: #ffffff;
  width:85%;
  height: 100%;
  margin: 1rem 2rem;
  padding: 1rem;
}
p.survey-title{
  font-weight: 600 !important;
  text-transform: uppercase;
}
.survey-card p{
  margin: 0.3rem 0;
  font-weight: 300;
}
.survey-tags p{
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500 !important;
  margin: 0.3rem 0;
  text-transform: uppercase;
}
.survey-tag-1{
  background-color: #D8167E;
  padding: 0.4rem 0.3rem;
}
.survey-tag-2{
  background-color: #9C16D8;
  padding: 0.4rem 0.3rem;
}
.survey-tag-3{
  background-color: #D8B316;
  padding: 0.4rem 0.3rem;
}
.survey-sponser-title{
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.survey-sponser{
font-weight: 300;
font-size: 0.9rem;
margin: 0.2rem 0;
}
.survey-button{
  font-size:0.9rem;
  margin: 0.2rem 0;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background-color: var(--dark-blue);
  color:#ffffff;
  text-decoration: none;
}
.skills-item{
  background-color: var(--light-blue);
  padding: 1.5rem;
  margin-bottom: 1rem;
}
p.skills-item-title{
  text-transform: uppercase;
  margin-top:0;
  font-weight: 600;
}
.skills-item-description{
  font-weight: 300;
}
.about-survey-section p{
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .research-hero{
    height: 30vh;
    background-color: var(--dark-blue);
    color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }
  .research-text-section{
    padding: 2rem 1rem;
  }
  .research-survey-section{
    background-color: var(--dark-blue);
    padding: 2rem 1rem;
  }
  .survey-card-col{
    -webkit-flex: 0 0 100%;
  -ms-flex: 0 0  100%;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}